.home{
    background-image: url(../assets/home/learn.jpg);
    background-size: cover;
    padding: 50px;
    margin: auto;
    margin-bottom: -1em;
    opacity: 1;
}

.home-content-image{
    /* background-color:dimgrey; */
    transform: scale(0.7);
}

.i-button{
    width: 8rem;
    height: 3rem;
}

.i-button>:hover{
    color: blue;
    cursor: pointer;
}

.s-button>:hover{
    cursor: pointer;
}

.s-button{
    width: 8rem;
    height: 3rem;
}

.home.h1{
    font-style: oblique;
}